# ignore 800/bin folder
Practise/800/bin
Practise/900/src/.cph
Practise/900/src/.vscode
# ignore Run folder
Run

# ignore bash script folder
Bash_script

#ignore .cph and .vscode
Competition/Div2/20220827/.cph
Competition/Div2/20220827/.vscode